.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 30px auto;
  padding: 30px;
}

#camera-container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10vw;
}

#camera-container video {
  width: 100%;
  border: solid 1px #ffcb74;
  border-radius: 20px;
  box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
}

#picResult {
  display: none;
  margin-left: 10vw;
  width: 640px;
  height: 480px;
  border: none;
  border: solid 1px #ffcb74;
  border-radius: 20px;
  box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
  overflow: hidden;
}

#click-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 2vh auto;
  border: none;
}

#lensIcon {
  width: 100%;
}
/* #camera-container img {
  position: absolute;
  width: 640px;
  height: 480px;
  margin-left: 8px;
} */

#filterImg {
  display: none;
  /* position: absolute; */
  width: 640px;
  height: 480px;
  /* margin-left: 8px; */
  /* border-radius: 20px; */
}

#submitButton {
  display: none;
}

.filtersBar {
  width: 8vw;
  margin: 3vh 0 0 auto;
  margin-right: 1vw;
  /* position: absolute; */
}

.filters-container {
  display: flex;
  flex-direction: column;
  height: 67vh;
  padding: 10px;
  /* background-color: coral; */
  background-color: #e6e4e4;
  border: none;
  border-radius: 10px;
  overflow: scroll;
  box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
}

.filters-container button {
  background-color: wheat;
  border-radius: 10px;
  margin: 10px;
}

.filters-container img {
  width: 5vw;
  height: 10vh;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

#upload-container {
  display: none;
  justify-content: center;
  align-items: center;
  width: 10%;
  margin: 30vh 0 auto 8vw;
  /* margin-left: 26vw; */
  border: 1px solid #cbcbcb;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
  background-color: #f6f6f6;
  
}

#upload-button{
  width: 100%;
  margin: auto;
  padding: 10px;
}

/* for scroll in filtersbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffcb74; 
}

.upload-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px auto;
}

.upload-form div {
  margin-top: 20px;
}

.middleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5vh 1vw 5vh 1vw;
}

.footer-container{
  position: fixed;
  width: 100%;
  min-width: 350px;
  max-width: 50vw;
  left: 25%;
  bottom: 10px;
}

.footer-elements{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
/* max-width: 900px; */
margin: auto;
/* border: 1px solid #ccc; */
margin-top: 15px;
border-radius: 5px;
box-shadow: 7.2px 14.4px 14.4px hsl(0deg 0% 0% / 0.28);
background-color: #F6F6F6;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  
}

.footer-elements button{
  width: 90%;
  min-width: 50px;
  max-width: 10vw;
  padding: 15px;
  /* margin: 8px; */
  margin: 50px;
  border: none; 
  font-size: 18px;
  color: #111111;
  background-color: #FFCB74;
  /* color: white; */
  /* background-color: #3897f0; */
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0.8px 1.6px 1.6px hsl(0deg 0% 0% / 0.48);
  font-family: 'Space Grotesk', sans-serif;
}
