.main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8vh;
    padding: 1vw;
    /* background-color: black; */
}

.filters-container{
    display: block;
    text-align: center;
    overflow: scroll;
    padding: 2vh;
    width: 14vw;
    height: 60vh;
    border: none;
    border-radius: 10px;
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
    /* background-color: red; */
}

.filter{
    display: flex;
    justify-content: center;
    padding: 1vh;
    margin: 1vh auto 1vh auto;
    width: 10vw;
    height: 17vh;
    border: none;
    border-radius: 10px;
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
    /* background-color: yellow; */
}

.filter-image{
    width: 7.5vw;
}

.view-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 60vh;
    border: none;
    border-radius: 10px;
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
    /* background-color: greenyellow; */
}

.display{
    width: 33.3vw;
    height: 49.8vh;
    /* width: 640px;
    height: 480px; */
    border: none;
    border-radius: 10px;
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
    /* background-color: blueviolet; */
}

.capture-button{
    margin: 1vh;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    /* background-color: cadetblue; */
}

#capture-icon{
    width: 100%;
}

.thumbnail-container{
    display: block;
    overflow: scroll;
    padding: 2vh;
    width: 14vw;
    height: 60vh;
    border: none;
    border-radius: 10px;
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
    /* background-color: blue; */
}

.thumbnail-image-container{
    display: flex;
    margin: 1vh auto 2vh auto;
    width: 10vw;
    height: 17vh;
    border: none;
    border-radius: 10px;
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
    /* background-color: yellow; */
}

.thumbnail-image{
    margin: auto;
    width: 90%;
    border: none;
    border-radius: 10px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1vw;
    margin-top: 1vh;
    /* background-color: black; */
}

.buttons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 20vh;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
    /* background-color: chocolate; */
}

.button-option{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 8vh;
    margin: 1vw;
    border: none;
    border-radius: 10px;
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
    background-color: transparent;
    /* background-color: red; */
}

.option-image{
    width: 90%;
}