
button{
    cursor: pointer;
}

.main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8vh;
    padding: 1vw;
    /* background-color: black; */
}

.filters-container{
    display: block;
    text-align: center;
    overflow: scroll;
    padding: 2vh;
    width: 14vw;
    height: 60vh;
    border: none;
    border-radius: 10px;
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
    /* background-color: red; */
}

.filter{
    display: flex;
    justify-content: center;
    padding: 1vh;
    margin: 1vh auto 1vh auto;
    width: 10vw;
    height: 17vh;
    border: none;
    border-radius: 10px;
    box-shadow: hsl(0deg 0% 0% / 0.33) 4px 4px 0px;
    transition: transform 200ms, box-shadow 200ms;
    background-color: rgba(226, 219, 161, 0.24);
    /* background-color: yellow; */
}

.filter:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: hsl(0deg 0% 0% / 0.33) 0px 0px 0px;
}

.filter-image{
    width: 7.5vw;
}

.view-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 60vh;
    border: none;
    border-radius: 10px;
    /* box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33); */
    /* background-color: greenyellow; */
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 33.3vw;
    height: 49.8vh;
    /* width: 640px;
    height: 480px; */
    border: none;
    border-radius: 10px;
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
}

#video{
    width: 33.3vw;
    height: 49.8vh;
    position: absolute;
    border: none;
    border-radius: 10px;
    z-index: 1;
}

#uploaded-picture{
    position: absolute;
    width: 33.3vw;
    height: 49.8vh;
    border: none;
    border-radius: 10px;
    z-index: 1;
}

.filter-display-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: none;
    border-radius: 10px;
    z-index: 2;
    width: 33.3vw;
    height: 49.8vh;
}

.result-image-container{
    position: absolute;
    width: 33.3vw;
    height: 49.8vh;
    z-index: 3;
    border: none;
    border-radius: 10px;
}

.capture-button{
    margin-top: auto;
    width: 2.60vw;
    height: 5.19vh;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    transition: .2s ease;
}

.capture-button:hover{
    transform: scale(1.2);
}

#capture-icon{
    width: 100%;
}

.thumbnail-container{
    display: block;
    overflow: scroll;
    padding: 2vh;
    width: 14vw;
    height: 60vh;
    border: none;
    border-radius: 10px;
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
}

.thumbnail-image-container{
    display: flex;
    margin: 1vh auto 2vh auto;
    width: 10vw;
    /* height: 17vh; */
    border: none;
    border-radius: 10px;
    box-shadow: 1.4px 2.8px 2.8px hsl(0deg 0% 0% / 0.33);
    transition: box-shadow .2s ease;
    /* background-color: yellow; */
}

.thumbnail-image-container:hover{
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
}
.thumbnail-image{
    margin: auto;
    width: 90%;
    border: none;
    border-radius: 10px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1vw;
    margin-top: 1vh;
    /* background-color: black; */
}

.buttons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 20vh;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
    /* background-color: chocolate; */
}

.button-option{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 8vh;
    margin: 1vw;
    padding: 1vh;
    border: none;
    border-radius: 10px;
    /* box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33); */
    background-color: transparent;
    transition: transform .2s ease;
}

.button-option:hover{
    transform: scale(1.5);
}

input[type="file"] {
    display: none;
}

.custom-file-upload{
    cursor: pointer;
}

.option-image{
    width: 100%;
}