.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1vh;
    padding: 2vh;
}

.item-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    min-width: 300px;
    min-height: 80vh;
    padding: 1vw;
    margin: 4vh 0;
    border: none;
    border-radius: 10px;
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
    background-color: azure;
}

.picture-container{
    display: flex;
    width: 73%;
    min-width: 250px;
    height: 45vh;
    margin-bottom: 0;
    border: none;
    border-radius: 10px;
}

.picture{
    width: 100%;
    border: 1px solid #ffcb74; 
    border-radius: 10px;
}

.action-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    min-width: 250px;
    height: 8vh;
    padding: 1vh;
    margin-top: 1vh;
    border: none;
    border-radius: 10px;

}

.action-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    min-width: 20px;
    height: 3vh;
    margin: 0 0.5vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: .2s ease;
}

.action-button:hover{
    transform: scale(1.2);
}

.action-image{
    width: 100%;
    background-color: transparent;
}

.username-container{
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 100%;
    min-width: 75px;
    height: 5vh;
}

.username-link{
    margin-left: auto;
    text-decoration: none;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
	background-size: 400%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    transition: .2s ease;
}

.username-link:hover{
    animation: myfirst 3s linear infinite;
    transform: scale(1.1);
}

@keyframes myfirst{
	to {background-position: 400%;}
}

.username{
    font-size:calc(15px + 1vw);
}

.picture-date{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 27vw;
    min-width: 225px;
}

.date{
    font-size: calc(5px + 0.8vw);
}

.comment-container{
    display: none;
    align-items: center;
    width: 28vw;
    min-width: 225px;
    height: 10vh;
    padding: 1vh;
    margin-top: 0.5vh;
    border: none;
    border-radius: 10px;
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
}

.comment-form{
    display: flex;
    width: 100%;
}

.comment-field{
    width: 90%;
    height: 100%;
    padding: 1vw;
    border: solid 1px #ffcb74;;
    border-radius: 30px;
    font-size: calc(5px + 0.9vw);
}

.submit-comment{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    min-width: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: auto 0 0 auto;
}

.submit-comment-img{
    width: 100%;
    background-color: transparent;
    transition: .2s ease;
}

.submit-comment-img:hover{
    transform: scale(1.2);
}

.user-comments-container{
    display: flex;
    margin-top: 0.5vh;
    width: 28vw;
    min-width: 225px;
    padding: 0.5vh;
    flex-direction: column;
    justify-content: flex-start;
    border: none;
    border-radius: 10px;
}

.show-comments-container{
    display: flex;
    align-items: center;
    margin-right: auto;
}

.show-comments-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.6;
    transition: .2s ease opacity;
    font-size: calc(5px + 0.4vw);
}

.show-comments-btn:hover{
    opacity: 1;
}

.comments-description{
    display: none;
}

.comments-top-part{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.user-comment-info{
    display: flex;
    flex-direction: column;
    width: 8vw;
    min-width: 225px;
    margin: 1vh 0;
}

.comment-username{
    font-size: calc(3px + 0.8vh);
}

.remove-comment-form{
    margin-left: auto;
}

.remove-comment-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    width: 1vw;
    min-width: 10px;
    cursor: pointer;
}

.remove-comment-img{
    width: 100%;
    opacity: 0.6;
    transition: 0.2s ease opacity;
}

.remove-comment-img:hover{
    opacity: 1;
}

.comment-date{
    font-size: calc(5px + 0.4vh);
}

.comments-horizontal-line{
    border: none;
    height: 1px;
    background-color: rgb(136, 136, 136);
}

.user-comment-text{
    display: flex;
    padding: 1vh;
    justify-content: flex-start;
    font-size: calc(5px + 0.9vw);
}