.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5vh;
    padding: 2vh;
    /* background-color: black; */
}

.item-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    min-height: 80vh;
    padding: 1vw;
    margin: 5vh 0;
    border: none;
    border-radius: 10px;
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
    background-color: azure;
    /* background-color: red; */
}

.picture-container{
    display: flex;
    width: 30vw;
    height: 45vh;
    margin-bottom: 0;
    border: none;
    border-radius: 10px;
    /* box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33); */
    /* background-color: yellow; */
}

.picture{
    width: 100%;
    border: 1px solid #ffcb74; 
    border-radius: 10px;
}

.action-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28vw;
    height: 8vh;
    padding: 1vh;
    margin-top: 1vh;
    border: none;
    border-radius: 10px;
    /* box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33); */
    /* background-color: blue; */
}

.action-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 3vh;
    margin: 0 0.5vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: .2s ease;
}

.action-button:hover{
    transform: scale(1.2);
}

.action-image{
    width: 100%;
    background-color: transparent;
}

.username-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 8vw;
    height: 5vh;
    /* background-color: white; */
}

.username{
    font-size: 1.5vw;
}

.picture-date{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 26vw;
}

.comment-container{
    display: none;
    align-items: center;
    width: 28vw;
    height: 10vh;
    padding: 1vh;
    margin-top: 0.5vh;
    border: none;
    border-radius: 10px;
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
}

.comment-form{
    display: flex;
    width: 100%;
}

.comment-field{
    width: 90%;
    height: 100%;
    padding: 1vw;
    border: solid 1px #ffcb74;;
    border-radius: 30px;
}

.submit-comment{
    display: flex;
    /* align-self: flex-end; */
    justify-content: center;
    align-items: center;
    width: 2vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: auto 0 0 auto;
}

.submit-comment-img{
    width: 100%;
    background-color: transparent;
    transition: .2s ease;
}

.submit-comment-img:hover{
    transform: scale(1.2);
}

.user-comments-container{
    display: flex;
    margin-top: 0.5vh;
    width: 28vw;
    padding: 1vh;
    flex-direction: column;
    justify-content: flex-start;
    border: none;
    border-radius: 10px;
    /* box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33); */
}

.comments-top-part{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.user-comment-info{
    display: flex;
    flex-direction: column;
    width: 8vw;
    margin: 1vh 0;
    /* background-color: blue; */
}

.comment-username{
    font-size: 1.5vh;
}

.remove-comment-form{
    margin-left: auto;
}

.remove-comment-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    width: 1vw;
    cursor: pointer;
}

.remove-comment-img{
    width: 100%;
    opacity: 0.6;
    transition: 0.2s ease opacity;
}

.remove-comment-img:hover{
    opacity: 1;
}

.comment-date{
    font-size: 1.2vh;
}

.comments-horizontal-line{
    border: none;
    height: 1px;
    background-color: rgb(136, 136, 136);
}

.user-comment-text{
    display: flex;
    padding: 1vh;
    justify-content: flex-start;
    /* background-color: white; */
}