*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'Space Grotesk', sans-serif;
}

body{
    display: flex;
    align-items: center;
    overflow: auto;
}

#main-logo{
    display: none;
    opacity: 0.5;
    width: 40vw;
    min-width: 10px;
    top: 10%;
    bottom: 25%;
    margin-right: 0;
    pointer-events: none;
    position: fixed;
    z-index: -1;
    animation: myAnim 7s ease 1s infinite normal forwards;
}

@media only screen and (max-width: 1000px) {
    #main-logo {
        top: 3%;
        left: 30%;
    }
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

.main-container{
    display: none;
    justify-content: space-between;
    flex-direction: row;
    width: 65vw;
    min-width: 400px;
    margin-left: auto;
    padding: 5vh;
    overflow-y: auto;
}

@media only screen and (max-width: 1000px) {
    .main-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
}

.gallery{
    display: flex;
    margin-top: 20vh;
    flex-direction: column;
    padding: 1vh;
    width: 25vw;
    height: 50vh;
    min-width: 300px;
    min-height: 300px;
    border-radius: 10px;
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
}

@media only screen and (max-width: 1000px) {
    .gallery {
        height: 250px;
    }
}

.gallery-block{
    width: 100%;
    display: none;
    grid-template-areas:
    "img1 img1 img2"
    "img1 img1 img3"
    "img4 img5 img6";
    border-radius: 10px;
    justify-items: center;

}

#page1{
    display: grid;
}

.gallery img{    
    filter: contrast(105%) brightness(120%);
    width: 100%;
    border-radius: 5px;
}

.img1{
    grid-area: img1;
}

.img2{
    grid-area: img2;
}

.img3{
    grid-area: img3;
}

.img4{
    grid-area: img4;
}

.img5{
    grid-area: img5;
}

.img6{
    grid-area: img6;
}

.pages-selector-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    width: 100%;
}

.pagination-buttons {
    display: inline-block;
}
  
.pagination-buttons a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}


.pagination-buttons a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}
  
.pagination-buttons a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.slogan{
    display: none;
    margin-top: 20vh;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    width: 25vw;
    height: 50vh;
    min-width: 300px;
    min-height: 200px;
    text-align: center;
}

@media only screen and (max-width: 1000px)  {
    .slogan{
        height: 10vh;
    }
    
}

.slogan-text{
    font-size: calc(15px + 1.5vw);
	background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
	background-size: 400%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: sloganAnimation 5s linear infinite;
}

@keyframes sloganAnimation{
	to {background-position: 400%;}
}

.instagram-container{
    position: fixed;
    right: 10vw;
    top: 35%;
    width: 13.67vw;
    height: 28vh;
    max-height: 280px;
    min-height: 220px;
    min-width: 200px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
    background-color: #F6F6F6;
}

@media only screen and (max-width: 1000px) {
    .instagram-container{
        position: relative;
        align-items: center;
        margin-top: 2vh;
        right: 0;
    }
  }

.instagram-logo{
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 10px;
}
.instagram-logo img{
    width: 100%;
    object-fit: cover;
}
.instagram-container-inside{
    padding: 25px;
}

@media only screen and (max-width: 1000px) {
    .instagram-container-inside{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  }

.instagram-container-inside button{
    width: 100%;
    min-width: 90px;
    padding: 8px;
    margin: 8px;
    border: none;
    font-size: 12px;
    color: #111111;
    background-color: #FFCB74;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0.8px 1.6px 1.6px hsl(0deg 0% 0% / 0.48);
}

@media only screen and (max-width: 1000px) {
    .instagram-container-inside button{
        margin: 0;
    }
  }
.instagram-container-inside h5{
    color: #111111;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.or{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .or h5{
        width: 30px;
    }
  }
footer {
    position: fixed;
    bottom: 0;
    margin: auto auto 0 auto;
    width: 100%;
    padding: 0 1vh;
    text-align: right;
    font-family: monospace;
}
footer hr{
    opacity: 0.6;
}

