*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'Space Grotesk', sans-serif;
}

body{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    overflow: auto;
}

#main-logo{
    opacity: 0.5;
    /* width: 40%; */
    width: 40vw;
    min-width: 10px;
    top: 10%;
    bottom: 25%;
    margin-right: 0;
    pointer-events: none;
    position: fixed;
    z-index: -1;
    animation: myAnim 7s ease 1s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

.main-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 65vw;
    margin-left: auto;
    padding: 5vh;
    overflow-y: auto;
}

.gallery{
    display: flex;
    flex-direction: column;
    padding: 1vh;
    width: 25vw;
    min-width: 200px;
    border-radius: 10px;
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
    /* background-color: red; */
}

.gallery-block{
    width: 100%;
    display: grid;
    grid-template-areas:
    "img1 img1 img2"
    "img1 img1 img3"
    "img4 img5 img6";

    border-radius: 10px;

}

.gallery img{    
    filter: contrast(105%) brightness(120%);
    width: 100%;
    border-radius: 5px;
}

.img1{
    grid-area: img1;
}

.img2{
    grid-area: img2;
}

.img3{
    grid-area: img3;
}

.img4{
    grid-area: img4;
}

.img5{
    grid-area: img5;
}

.img6{
    grid-area: img6;
}

.instagram-container{
    position: fixed;
    right: 10vw;
    top: 35%;
    width: 13.67vw;
    height: 25vh;
    max-height: 280px;
    min-height: 240px;
    min-width: 200px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
    background-color: #F6F6F6;
}

.instagram-logo{
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 10px;
}
.instagram-logo img{
    width: 100%;
    object-fit: cover;
}
.instagram-container-inside{
    padding: 25px;
}
.instagram-container-inside button{
    width: 100%;
    min-width: 50px;
    padding: 8px;
    margin: 8px;
    border: none;
    font-size: 12px;
    color: #111111;
    background-color: #FFCB74;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0.8px 1.6px 1.6px hsl(0deg 0% 0% / 0.48);
}
.instagram-container-inside h5{
    color: #111111;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.or{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

