.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1vh;
    padding: 1vh;
}

.top-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 20vh;
    border: none;
    border-radius: 10px;
    padding: 0.5vw;
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
}

.portfolio-container{
    display: flex;
    justify-content: space-between;
    width: 20vw;
    min-width: 15px;
    height: 100%;
    padding: 0.5vh;
}

.profile-avatar{
    display: flex;
    justify-content: center;
    width: 10vw;
    min-width: 120px;
    border: none;
    border-radius: 50%;
}

#profile-image{
    width: 100%;
    border-radius: 50%;
}

.fullname-section{
    margin-top: auto;
    width: 10vw;
}

.fullname-text{
    font-size: calc(10px + 1.2vw);
}

.username-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    padding: 5vh;
    margin-right: 1vw;
    font-size: 5vw;
}

.gallery-container{
    display: flex;
    justify-content: center;
    padding: 0.5vw;
    width: 100%;
    margin-top: 2vh;
    border: none;
    border-radius: 10px;

}

.image-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80vw;
    margin: 0.1vw;
    border-radius: 10px;
    box-shadow: 5.6px 11.2px 11.2px rgba(92, 92, 92, 0.33);
    background-color: rgba(255, 255, 255, 0.1);
}

.picture{
    width: 24.8%;
    border-radius: 10px;
    margin: 1px;
    transition: transform .2s, box-shadow .2s;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 0px 0px;
}

.picture:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.13) 6px 6px 0px;
}

.maximize-image-container{
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 15%;
    width: 40vw;
    min-width: 200px;
    height: 70h;
    border: none;
    border-radius: 10px;
    padding-bottom: 1vh;
    background-color: azure;
    box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 33%);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.664);
}

.maximized-picture{
    width: 40vw;
    max-width: 60vw;
    min-width: 200px;
    max-height: 80vh;
}

.max-picture{
    width: 100%;
    border: 1px solid #ffcb74;
    border-radius: 10px;
}

.action-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vh;
}

.action-btns button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    min-width: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: .2s ease, opacity;
    opacity: 0.7;
}

.action-btns button:hover{
    opacity: 1;
    transform: scale(1.2);
}

.remove-img-icon{
    width: 100%;
    opacity: 0.6;
    transition: .2s ease, opacity;
}


.minimize-image{
    width: 100%;
}