.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    margin: 20vh auto 0 auto;
}

.settings-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 35vw;
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.13);
    box-shadow: 5.6px 11.2px 11.2px rgba(0, 0, 0, 0.151);
}

.settings-container > *{
    display: flex;
    align-items: center;
    margin: 1.5vh auto 1.5vh auto;
    width: 50%;
    border-radius: 20px;
}

.setting-container{
    display: flex;
    align-items: center;
}

.setting-container > label{
    font-size: 1vw;
    padding: 1vh;
}

.setting-container > button{
    background-image: url('../media/007\ Sunny\ Morning.png');
    box-shadow: hsl(0deg 0% 0% / 0.33) 4px 4px 0px;
    transition: transform 200ms, box-shadow 200ms;
    border: none;
    border-radius: 20px;
    padding: 1.5vh;
    font-size: 0.9vw;
}

.setting-container > button:hover{
    transform: scale(1.05);
}

.setting-container > button:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: hsl(0deg 0% 0% / 0.33) 0px 0px 0px;
}

.setting-img{
    width: 2vw;
    margin-right: 1vw;
}

hr{
    height: 0.5px;
    opacity: 0.2;
}

.new-name, .new-email, .new-pass, .delete-account, .email-notifications{
    display: none;
}

.new-inputs{
    /* display: flex; */
    flex-direction: column;
    position: fixed;
    top: 30vh;
    align-items: center;
    width: 25vw;
    padding: 5vh;
    background-image: url('../media/122\ Cheerful\ Caramel.png');
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.664);
}

.new-inputs > *{
    margin: 1vh;
}

.settings-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-input{
    border: none;
    border-radius: 10px;
    width: 20vw;
    padding: 1vh;
}

.submit-btn{
    margin: 2vh auto;
    padding: 1vh;
    font-size: 0.7vw;
    border: none;
    border-radius: 20px;
    background-image: url('../media/007\ Sunny\ Morning.png');
    box-shadow: hsl(0deg 0% 0% / 0.33) 4px 4px 0px;
    transition: transform 200ms, box-shadow 200ms;
}

.submit-btn:hover{
    transform: scale(1.09);
}

.submit-btn:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: hsl(0deg 0% 0% / 0.33) 0px 0px 0px;
}

.first-phrase{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 20vw;
    padding: 1vh;
}

.first-phrase img{
    margin-left: auto;
    width: 15%;
}

.error_msg{
    display: flex;
    position: fixed;
    top: 12vh;
    text-align: center;
    font-size: 1.5vw;
    color: red;
}

.notification-text{
    font-size: 1vw;
}