*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    /* color: #000; */
    font-family: 'Space Grotesk', sans-serif;
}

html{
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    /* background-image: url("../media/031 Blessing.png"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.home-container{
    width: 100%;
    height: 100%;
}

.home-top-nav{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-top-nav-icon{
    flex: 1;

}

.home-top-nav-logo{
    width: 200px;
    margin: auto;
    margin-left: 0;
    height: 50px;
    display: flex;
    align-items:center;
}

.home-top-nav-logo img{
    width: 100%;
    height: 100%;
}

.home-top-nav-search{
    width: 200px;
    margin: auto;
}

/* search glasses icon coming from here */
.home-top-nav-search input[type=text]{
    width: 100%;
    padding: 5px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    box-sizing: border-box;
    background-image: url("../media/icons/icons8-search.svg");
    background-repeat: no-repeat;
    background-position: 60px;
    background-size: 10px 10px;
}
.home-top-nav-search input[type=text]:focus{
    background-image: none;
}

.home-top-nav-icon-inside{
    max-width: 200px;
    min-width: 1vw;
    margin: auto;
    margin-right: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-top-nav-icons{
    flex: 1;
    
}



.home-top-nav-icons img{
    width: 100%;
    height: auto;
    max-width: 1vw;
    min-width: 20px;
    /* width: 20px;
    height: 20px; */
}

.home-top-nav-icons .inline{
    display: none;
    cursor: pointer;
}

.home-top-nav-icons .inline.active{
    display: block;
    cursor: pointer;
}

.home-top-nav-icons .outline.active{
    display: none;
    cursor: pointer;
}

