*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'Space Grotesk', sans-serif;
}

body{
    min-height: 100%;
}

html{
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.home-container{
    width: 100%;
    height: 100%;
}

.home-top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #ccc;
}

.home-top-nav-icon{
    display: flex;
}

.username-in-nav{
    font-size:calc(10px + 1vw);
}

.home-top-nav-logo{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 9.76vw;
    min-width: 150px;
    height: 50px;
}

.home-top-nav-logo img{
    width: 100%;
    height: 100%;
}

.home-top-nav-icon-inside{
    max-width: 200px;
    min-width: 0.2vw;
    margin: auto;
    margin-right: 0;
    /* height: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-top-nav-icons{
    flex: 1;
    margin: 5px;
}

.home-top-nav-icons img{
    width: 100%;
    height: auto;
    max-width: 1.5vw;
    min-width: 20px;
    transition: .2s ease, box-shadow .2s ease;
    /* width: 20px;
    height: 20px; */
}

.home-top-nav-icons img:hover{
    transform: scale(1.2);
}

.home-top-nav-icons .inline{
    display: none;
    cursor: pointer;
}

.home-top-nav-icons .inline.active{
    display: block;
    cursor: pointer;
}

.home-top-nav-icons .outline.active{
    display: none;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    margin: auto auto 0 auto;
    width: 100%;
    padding: 0 1vh;
    text-align: right;
    font-family: monospace;
}

footer hr{
    opacity: 0.6;
}